.card {
    width: 100%;
    filter: opacity(90%);
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 1em;
}

.backIcon {
    margin-top: -5px;
    margin-left: 5px;
}

.img {
    width: 200px;
    height: 200px;
}

.div {
    margin: 0 70px;
}

.commentsBlockDiv {
    width: 100%;
}

.commentDiv {
    padding: 10px 20px;
    border: solid grey;
    background-color: antiquewhite;
}

.username {
    color: grey;
}