.img {
    width: 200px;
    height: 200px;
}

.div {
    margin: 0 70px;
}

.commentsBlockDiv {
    width: 100%;
}

.commentDiv {
    padding: 10px 20px;
    border: solid grey;
    background-color: antiquewhite;
}

.username {
    color: grey;
}