.mainText {
    display: grid;
    max-width: inherit;
    height: 150px;
    font-weight: bold;
    background-image: linear-gradient(245deg, #00A0FF 0%, #99BBFF 25%, #AA0000 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.6em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.background {
    width: 900px;
    border-radius: 7px;
    margin-top: 1%;
    opacity: .8;
    background-color: black;
}

.container {
    position: relative;
}

.enterButton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 100px;
    background-color: crimson;
    border: 1px solid black;
    border-radius: 50px;
    color: aliceblue;
}

.img {
    width: inherit;
    height: inherit;
}

.playIcon {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}